textarea.textField {
  min-height: 120px;
  resize: none;
}

.wrapper label {
  display: inline-block;
  font-size: var(--text-sm);
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.textField,
textarea.textField {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid var(--green-250);
  border-radius: 0.4rem;
}

.textField:hover,
textarea.textField:hover {
  border-color: var(--green-300);
  box-shadow: 0 0 0 1px var(--green-300);
  outline: none;
}

.textField:focus,
textarea.textField:focus {
  border-color: var(--green-dark);
  box-shadow: 0 0 0 1px var(--green-dark);
  outline: none;
}

.textField:disabled,
textarea.textField:disabled {
  opacity: 0.5;
}

.textField:disabled:hover,
textarea.textField:disabled:hover {
  border: 1px solid var(--green-250);
  box-shadow: none;
}