.link {
  display: contents;
  text-decoration: none;
}

.link:hover {
  opacity: 1;
}

.card,
.card img,
.card:hover button {
  transition: all 0.3s ease-out;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding);
  border: 1px solid var(--green-250);
  border-radius: var(--radius);
  cursor: pointer;
  gap: 1rem;
}

.card h3 {
  font-size: calc(var(--heading-m) / 1.3);
  margin-bottom: 0.6em;
}

.card:hover {
  transform: translateY(-5px);
}

.sticker {
  aspect-ratio: 1 / 1;
}

.vertical-card {
  aspect-ratio: 9 / 10;
}

.horizontal-card {
  aspect-ratio: 10 / 9;
}

.imgWrapper {
  position: relative;
}

.card figure {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 0.5em;
  text-align: center;
}

.card img {
  left: 10px !important;
}

.card figcaption {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card:hover button {
  background-color: var(--button-hover-backgroung-light);
}

.card:hover img {
  filter: drop-shadow(0 8px 8px rgb(161 229 190 / 90%));
}
