.card,
.card img,
.card:hover button {
	transition: all .3s ease-out;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	border: 1px solid var(--green-250);
	border-radius: var(--radius);
	padding: var(--padding);
	cursor: pointer;
}

.card h4 {
	font-size: calc(var(--heading-m) / 1.5);
	margin-bottom: .5em;
}

.card:hover {
	transform: translateY(-5px);
}

.sticker {
	aspect-ratio: 1 / 1;
}

.vertical-card {
	aspect-ratio: 9 / 10;
}

.horizontal-card {
	aspect-ratio: 10 / 9;
}

.imgWrapper {
	position: relative;
}

.card figure {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	height: 100%;
}

.card img {
	left: 14px !important;
}

.card figcaption {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.card:hover button {
	background-color: var(--button-hover-backgroung-light);
}


.card:hover img {
	filter: drop-shadow(0 8px 8px rgba(161, 229, 190, 0.9));
}