.fixed {
  position: fixed;
  right: var(--padding);
  bottom: calc(var(--padding) * 4);
  width: 2.8125rem;
  height: 2.8125rem;
  border: 0.2px solid var(--white);
  transform: translateY(200px);
  z-index: 100;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  will-change: transform;
}
