:root {
  --background: #e6f1e4;
  --black: #111;
  --white: #fff;
  --green-light: #e6f1e4;
  --green-dark: #001f08;
  --green-200: #dbe6d9;
  --green-250: #cfdacd;
  --green-300: #b1b9af;
  --padding: 1.6rem;
  --text-sm: 0.9rem;
  --text-m: 1rem;
  --text-l: 1.15rem;
  --text-xl: 1.35rem;
  --heading-s: clamp(1.125rem, 1.875vw, 1.875rem);
  --heading-m: clamp(1.5rem, 2.2vw, 2.2rem);
  --heading-l: clamp(2rem, 3.375vw, 3.375rem);
  --heading-xl: clamp(2.625rem, 4.5vw, 4.5rem);
  --heading-xxl: clamp(3rem, 6vw, 6rem);
  --button-hover-backgroung-light: #fff;
  --button-hover-backgroung-green: #b1b9af;
  --radius: 1rem;
  --logo-height: 4.375rem;
  --logo-width: 4.687rem;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.04em;
  line-height: 1;
  text-wrap: balance;
}

h1 {
  font-size: var(--heading-xl);
  font-weight: 700;
  line-height: 0.8;
}

h2 {
  font-size: var(--heading-l);
  font-weight: 700;
}

h3 {
  font-size: var(--heading-m);
  font-weight: 600;
}

h4 {
  font-size: var(--heading-s);
  font-weight: 600;
}