:root {
  --background: #e6f1e4;
  --green-light: #e6f1e4;
  --green-200: #dbe6d9;
  --green-250: #cfdacd;
  --green-300: #b1b9af;
  --green-dark: #001f08;
  --black: #111111;
  --white: #fff;
  --padding: 1.6rem;
  --text-sm: 0.9rem;
  --text-m: 1rem;
  --text-l: 1.4rem;
  --headingS: clamp(0.9375rem, 1.875vw, 1.875rem);
  --headingM: clamp(1.25rem, 2.5vw, 2.5rem);
  --headingL: clamp(1.6875rem, 3.375vw, 3.375rem);
  --headingXL: clamp(2.25rem, 4.5vw, 4.5rem);
  --headingXXL: clamp(3rem, 6vw, 6rem);
  --button-hover-backgroung-light: #fff;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  color: var(--black);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--padding);
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -.04em;
  text-wrap: balance;
}

h1 {
  font-size: var(--headingXXL);
  font-weight: 700;
  line-height: 0.8;
}

h2 {
  font-size: var(--headingXL);
  font-weight: 700;
}

h3 {
  font-size: var(--headingL);
  font-weight: 600;
}

h4 {
  font-size: var(--headingM);
  font-weight: 600;
}

h5 {
  font-size: var(--headingS);
  font-weight: 500;
}