.main {
  position: relative;
  padding: 0 var(--padding);
}

.intro {
  margin: 8rem auto 8rem;
  text-align: center;
  max-width: 21em;
}

.intro+hr {
  width: 30%;
  margin: 0 auto;
}

.shop {
  max-width: 90rem;
  margin: auto;
}

.shop h2 {
  width: fit-content;
  margin: 10rem auto 7.5rem;
  text-align: center;
}

.feedback {
  margin: 8rem auto 6rem;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: calc(var(--padding) / 1.5);
}

@media (max-width: 768px) {

  .intro {
    margin: 6rem auto 6rem;
  }

  .feedback {
    margin: 8rem auto 3.5rem;
  }

  .shop h2 {
    margin: 6rem auto 3.5rem;
  }
}