.main {
  position: relative;
  padding: 0 var(--padding);
}

.header {
  display: flex;
  align-items: center;
  height: calc(100svh - var(--logo-height) - (var(--padding) * 4));
}

.header h1 {
  position: relative;
  top: -.4em;
  font-size: var(--heading-xxl);
  width: 100%;
  text-align: center;
}

.intro {
  text-align: center;
}

.feedback {
  margin: calc(var(--padding) * 2) auto 0;
}

.shop {
  max-width: 90rem;
  margin: 20vh auto 10vh;
}

.shop h2 {
  width: fit-content;
  margin: calc(var(--padding) * 2) auto;
  text-align: center;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: calc(var(--padding) / 1.5);
}