.navigation {
	font-size: var(--text-sm);
	background: var(--green-250);
	border-radius: 1em;
	height: fit-content;
	width: fit-content;
	font-weight: 600;
}

.navigation ul {
	display: flex;
}

.navigation ul li a {
	display: flex;
}

.navigation ul li a {
	opacity: 1;
	transition: opacity 0.3s ease;
	padding: .6em .4em;
}

.navigation ul li a:hover .navigation ul li a {
	opacity: .5;
}

.navigation ul:hover li a {
	opacity: 0.4;
}

.navigation ul li a:hover {
	opacity: 1;
}

.navigation ul li:first-child {
	padding-left: .8em;
}

.navigation ul li:last-child {
	padding-right: .8em;
}