.form {
  padding: var(--padding);
  background: var(--white);
  border-radius: var(--radius);
  max-width: 38rem;
}

.formHeader {
  position: relative;
  margin-bottom: 1rem;
}

.formHeader h3 {
  margin-right: 2.8125rem;
}

.formSubtitle {
  margin-bottom: 1rem;
}

.textField {
  margin-bottom: 0.75rem;
}

.formHeader svg {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: calc(var(--heading-m) / 1.1);
  rotate: 90deg;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-top: 1.1rem;
}

.submitMessage {
  font-size: var(--text-sm);
  height: 1rem;

  color: var(--green-dark);

  margin-left: 0.2rem;
  margin-top: 0.5rem;
}

.formFooter p {
  font-size: var(--text-sm);
}

.formFooter button:hover {
  background-color: var(--button-hover-backgroung-green);
}
