.topBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  padding: var(--padding) var(--padding) 0;
}

.logoWrapper {
  position: relative;
  min-height: var(--logo-height);
  min-width: var(--logo-width);
}

.logo {
  z-index: 1000;
}