.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: .6rem;
	margin-top: 6vh;
}

.copyright {
	font-weight: 600;
}

@media (width<=48rem) {
	.footer {
		flex-direction: column;
	}
}